out-*/
hs-out/
llvm-out/
n/
*hs-out/
*llvm-out/
gen-hs-out/
gen-llvm-out/
kevm-hs-out/
kevm-llvm-out/
gen-out/
search-out/
__pycache__/
*.pyc
k/phase1c/*-out/
k/phase1c/shim/*.o
k/phase1c/shim/libkrypto-shim.a
k/phase1c/shim/libsecp256k1.so
